 .u-section-1 {
  min-height: 883px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 520px calc(((100% - 1140px) / 2) + 90px) 0 calc(((100% - 1140px) / 2) + 56px);
}

.u-section-1 .u-shape-1 {
  height: 219px;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 994px;
  }

  .u-section-1 .u-text-1 {
    width: 740px;
    margin-top: 623px;
    margin-left: calc(((100% - 1140px) / 2) + 200px);
    margin-right: calc(((100% - 1140px) / 2) + 200px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: 38px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 855px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 501px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 19px;
    margin-bottom: 2px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 819px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 422px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 7px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 704px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 1140px) / 2) + 420px);
    margin-right: calc(((100% - 1140px) / 2) + 420px);
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 44px;
} .u-section-3 {
  background-image: none;
  min-height: 712px;
}

.u-section-3 .u-shape-1 {
  height: 510px;
  width: calc(((100% - 1140px) / 2) + 821px);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 127px 0 0 auto;
}

.u-section-3 .u-group-1 {
  width: 462px;
  min-height: 510px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -510px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 50px 30px 8px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 12px 0 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px auto 0 0;
  padding: 15px 61px 17px 60px;
}

.u-section-3 .u-image-1 {
  width: 637px;
  background-image: url("images/pexels-christina-morillo-1181244.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: 637px;
  filter: brightness(0.95);
  margin: -635px auto 60px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 690px;
  }

  .u-section-3 .u-shape-1 {
    height: 459px;
    width: calc(((100% - 940px) / 2) + 682px);
    margin-top: 164px;
  }

  .u-section-3 .u-group-1 {
    width: 449px;
    min-height: 452px;
    margin-top: -459px;
    margin-right: calc(((100% - 940px) / 2) + -37px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 540px;
    filter: brightness(0.85);
    margin-top: -533px;
    margin-left: calc(((100% - 940px) / 2) + -12px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 931px;
  }

  .u-section-3 .u-shape-1 {
    height: 526px;
    margin-top: 287px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    width: 604px;
    min-height: 383px;
    margin-top: -297px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 7px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 32px;
  }

  .u-section-3 .u-image-1 {
    width: 503px;
    height: 503px;
    margin-top: -886px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 900px;
  }

  .u-section-3 .u-shape-1 {
    height: 607px;
    margin-top: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    min-height: 396px;
    margin-top: -317px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 13px;
  }

  .u-section-3 .u-image-1 {
    width: 478px;
    height: 478px;
    margin-top: -863px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 880px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 163px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 387px;
    min-height: 269px;
    margin-top: -402px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-1 {
    width: 311px;
    height: 311px;
    margin-top: -743px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 44px;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 870px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 361px;
}

.u-section-5 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-scale: 0.3;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-scale: 0.3;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-scale: 0.3;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-scale: 0.3;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-text-8 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-9 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-list-2 {
  margin-top: 30px;
  margin-bottom: 37px;
}

.u-section-5 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 361px;
}

.u-section-5 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-scale: 0.3;
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-text-10 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-11 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-scale: 0.3;
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px;
}

.u-section-5 .u-text-12 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-13 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-scale: 0.3;
  background-image: none;
}

.u-section-5 .u-container-layout-7 {
  padding: 10px;
}

.u-section-5 .u-text-14 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-15 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-scale: 0.3;
  background-image: none;
}

.u-section-5 .u-container-layout-8 {
  padding: 10px;
}

.u-section-5 .u-text-16 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-17 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 298px;
  }

  .u-section-5 .u-list-2 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-5 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 298px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-list-2 {
    margin-top: 181px;
    margin-bottom: 37px;
  }

  .u-section-5 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1326px;
  }

  .u-section-5 .u-list-2 {
    margin-top: 43px;
    margin-bottom: 43px;
  }

  .u-section-5 .u-repeater-2 {
    min-height: 542px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1510px;
  }

  .u-section-5 .u-list-2 {
    margin-top: 34px;
    margin-bottom: 30px;
  }

  .u-section-5 .u-repeater-2 {
    min-height: 660px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 48px;
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 376px;
}

.u-section-7 .u-text-1 {
  margin: 29px auto 0 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 29px;
  margin-bottom: 37px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 245px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  margin: 6px 0 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-5 {
  margin: 6px 0 0;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-7 .u-text-7 {
  margin: 19px 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-8 {
  margin: 6px 0 0;
}

.u-section-7 .u-text-9 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-7 .u-text-10 {
  margin: 19px 0 0;
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}.u-section-8 .u-sheet-1 {
  min-height: 45px;
}