.u-section-1 .u-sheet-1 {
  min-height: 671px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 200px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 44px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 371px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 215px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  width: 310px;
  margin: 23px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 351px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 348px;
  height: 133px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 9px auto 0 74px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 100px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 134px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 306px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 138px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 289px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-weight: 700;
    margin-top: 204px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 24px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 372px;
  }

  .u-section-1 .u-image-2 {
    height: 115px;
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 199px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-1 .u-image-2 {
    height: 122px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 422px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 31px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 295px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 452px;
  height: 94px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 71px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 295px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 350px;
  height: 134px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 45px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-2 .u-image-1 {
    width: 410px;
    height: 86px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 243px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 220px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 63px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 220px;
  }

  .u-section-2 .u-image-2 {
    height: 115px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 68px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 199px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 208px;
  }

  .u-section-2 .u-image-2 {
    height: 122px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1792px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 20px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 200px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 218px;
  height: 80px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 38px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-3 .u-image-2 {
  width: 241px;
  height: 110px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 181px;
  height: 140px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 160px;
  height: 116px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  width: 160px;
  height: 119px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  width: 160px;
  height: 160px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 230px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  width: 160px;
  height: 160px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 230px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-image-8 {
  width: 160px;
  height: 199px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-9 {
  min-height: 230px;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-image-9 {
  width: 160px;
  height: 173px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-10 {
  min-height: 230px;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-image-10 {
  width: 160px;
  height: 96px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-11 {
  min-height: 230px;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px;
}

.u-section-3 .u-image-11 {
  width: 160px;
  height: 104px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 13px auto 0;
}

.u-section-3 .u-layout-cell-12 {
  min-height: 230px;
}

.u-section-3 .u-container-layout-12 {
  padding: 30px;
}

.u-section-3 .u-image-12 {
  width: 201px;
  height: 80px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0;
}

.u-section-3 .u-layout-wrap-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-13 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-13 {
  padding: 30px;
}

.u-section-3 .u-image-13 {
  width: 160px;
  height: 207px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-14 {
  min-height: 267px;
}

.u-section-3 .u-container-layout-14 {
  padding: 30px 0;
}

.u-section-3 .u-image-14 {
  width: 332px;
  height: 101px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px auto 0;
}

.u-section-3 .u-layout-cell-15 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-15 {
  padding: 30px;
}

.u-section-3 .u-image-15 {
  width: 231px;
  height: 173px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-16 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-16 {
  padding: 30px;
}

.u-section-3 .u-image-16 {
  width: 179px;
  height: 96px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-17 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-17 {
  padding: 30px;
}

.u-section-3 .u-image-17 {
  width: 226px;
  height: 104px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px auto 0;
}

.u-section-3 .u-layout-cell-18 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-18 {
  padding: 30px;
}

.u-section-3 .u-image-18 {
  width: 202px;
  height: 80px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-3 .u-group-1 {
  width: 380px;
  min-height: 250px;
  margin: 38px auto 52px;
}

.u-section-3 .u-container-layout-19 {
  padding: 30px;
}

.u-section-3 .u-image-19 {
  width: 219px;
  height: 147px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1187px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 189px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 189px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 189px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 189px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 189px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 189px;
  }

  .u-section-3 .u-layout-wrap-3 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-13 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-14 {
    min-height: 220px;
  }

  .u-section-3 .u-image-14 {
    width: 313px;
    height: 96px;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-16 {
    min-height: 165px;
  }

  .u-section-3 .u-image-16 {
    height: 95px;
  }

  .u-section-3 .u-layout-cell-17 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-18 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 953px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 126px;
  }

  .u-section-3 .u-image-1 {
    width: 180px;
    height: 66px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-3 .u-image-2 {
    width: 182px;
    height: 83px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-3 .u-image-3 {
    width: 180px;
    height: 139px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 126px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 126px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 145px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 145px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 145px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 145px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 145px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 145px;
  }

  .u-section-3 .u-image-12 {
    width: 180px;
    height: 72px;
  }

  .u-section-3 .u-layout-cell-13 {
    min-height: 126px;
  }

  .u-section-3 .u-layout-cell-14 {
    min-height: 169px;
  }

  .u-section-3 .u-image-14 {
    width: 240px;
    height: 74px;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 126px;
  }

  .u-section-3 .u-image-15 {
    width: 180px;
    height: 135px;
  }

  .u-section-3 .u-layout-cell-16 {
    min-height: 126px;
  }

  .u-section-3 .u-layout-cell-17 {
    min-height: 126px;
  }

  .u-section-3 .u-image-17 {
    width: 180px;
    height: 83px;
  }

  .u-section-3 .u-layout-cell-18 {
    min-height: 126px;
  }

  .u-section-3 .u-image-18 {
    width: 180px;
    height: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3605px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 242px;
    height: 99px;
    margin-top: 0;
    margin-left: 129px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 261px;
    height: 119px;
    margin-top: 13px;
    margin-left: 119px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 203px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 3px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 195px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    width: 190px;
    height: 137px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 192px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    width: 200px;
    height: 148px;
    margin-left: 150px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 222px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 252px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 234px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 190px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-10 {
    width: 221px;
    height: 132px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 189px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-11 {
    width: 212px;
    height: 138px;
    margin-top: 3px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 150px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-12 {
    width: 231px;
    height: 92px;
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-13 {
    min-height: 284px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-14 {
    min-height: 160px;
  }

  .u-section-3 .u-image-14 {
    width: 271px;
    height: 97px;
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 216px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-15 {
    width: 205px;
    height: 154px;
  }

  .u-section-3 .u-layout-cell-16 {
    min-height: 172px;
  }

  .u-section-3 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-16 {
    width: 259px;
    height: 124px;
  }

  .u-section-3 .u-layout-cell-17 {
    min-height: 167px;
  }

  .u-section-3 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-17 {
    width: 270px;
    height: 110px;
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-18 {
    min-height: 180px;
  }

  .u-section-3 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-18 {
    width: 264px;
    height: 105px;
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2345px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 159px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 192px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 128px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 123px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 208px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-3 .u-image-5 {
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 140px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 159px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 147px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 120px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 119px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 94px;
  }

  .u-section-3 .u-layout-cell-13 {
    min-height: 179px;
  }

  .u-section-3 .u-layout-cell-14 {
    min-height: 101px;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 136px;
  }

  .u-section-3 .u-layout-cell-16 {
    min-height: 108px;
  }

  .u-section-3 .u-layout-cell-17 {
    min-height: 105px;
  }

  .u-section-3 .u-layout-cell-18 {
    min-height: 113px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1470px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 15px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 325px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-video-1 {
  width: 205px;
  height: 298px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 325px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-4 .u-video-2 {
  width: 205px;
  height: 298px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 325px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-4 .u-video-3 {
  width: 205px;
  height: 298px;
  margin: 3px auto 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 325px;
}

.u-section-4 .u-container-layout-4 {
  padding: 1px 30px;
}

.u-section-4 .u-video-4 {
  width: 205px;
  height: 298px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 325px;
}

.u-section-4 .u-container-layout-5 {
  padding: 19px 30px;
}

.u-section-4 .u-video-5 {
  width: 205px;
  height: 298px;
  margin: 11px 0 0 auto;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 325px;
}

.u-section-4 .u-container-layout-6 {
  padding: 19px 30px;
}

.u-section-4 .u-video-6 {
  width: 205px;
  height: 298px;
  margin: 11px 5px 0 auto;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 325px;
}

.u-section-4 .u-container-layout-7 {
  padding: 24px 30px;
}

.u-section-4 .u-video-7 {
  width: 205px;
  height: 298px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 325px;
}

.u-section-4 .u-container-layout-8 {
  padding: 0 17px;
}

.u-section-4 .u-video-8 {
  width: 205px;
  height: 298px;
  margin: 15px auto 0;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-9 {
  min-height: 319px;
}

.u-section-4 .u-container-layout-9 {
  padding: 0 30px;
}

.u-section-4 .u-video-9 {
  width: 205px;
  height: 298px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-layout-cell-10 {
  min-height: 319px;
}

.u-section-4 .u-container-layout-10 {
  padding: 0 30px;
}

.u-section-4 .u-video-10 {
  width: 205px;
  height: 298px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-11 {
  min-height: 319px;
}

.u-section-4 .u-container-layout-11 {
  padding: 0 30px;
}

.u-section-4 .u-video-11 {
  width: 205px;
  height: 298px;
  margin: 3px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-4 .u-video-1 {
    width: 175px;
    height: 255px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 268px;
  }

  .u-section-4 .u-video-2 {
    width: 175px;
    height: 255px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 268px;
  }

  .u-section-4 .u-video-3 {
    width: 175px;
    height: 255px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 268px;
  }

  .u-section-4 .u-video-4 {
    width: 175px;
    height: 255px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 268px;
  }

  .u-section-4 .u-video-5 {
    width: 175px;
    height: 255px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 268px;
  }

  .u-section-4 .u-video-6 {
    width: 175px;
    height: 255px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 268px;
  }

  .u-section-4 .u-video-7 {
    width: 175px;
    height: 255px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 268px;
  }

  .u-section-4 .u-video-8 {
    width: 201px;
    height: 293px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 59px;
    margin-bottom: 40px;
  }

  .u-section-4 .u-layout-cell-9 {
    min-height: 263px;
  }

  .u-section-4 .u-video-9 {
    width: 175px;
    height: 255px;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 263px;
  }

  .u-section-4 .u-video-10 {
    width: 175px;
    height: 255px;
  }

  .u-section-4 .u-layout-cell-11 {
    min-height: 263px;
  }

  .u-section-4 .u-video-11 {
    width: 175px;
    height: 255px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-video-1 {
    width: 120px;
    height: 175px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 178px;
  }

  .u-section-4 .u-video-2 {
    width: 120px;
    height: 175px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 178px;
  }

  .u-section-4 .u-video-3 {
    width: 120px;
    height: 175px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 178px;
  }

  .u-section-4 .u-video-4 {
    width: 120px;
    height: 175px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 228px;
  }

  .u-section-4 .u-video-5 {
    width: 120px;
    height: 175px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 228px;
  }

  .u-section-4 .u-video-6 {
    width: 120px;
    height: 175px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 228px;
  }

  .u-section-4 .u-video-7 {
    width: 120px;
    height: 175px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 228px;
  }

  .u-section-4 .u-video-8 {
    height: 190px;
    width: 124px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 11px;
    margin-bottom: 15px;
  }

  .u-section-4 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-4 .u-video-9 {
    width: 120px;
    height: 175px;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-4 .u-video-10 {
    width: 120px;
    height: 175px;
  }

  .u-section-4 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-4 .u-video-11 {
    width: 120px;
    height: 175px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-video-1 {
    height: auto;
    margin: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 224px;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 15px 10px;
  }

  .u-section-4 .u-video-5 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 224px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-video-6 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 223px;
  }

  .u-section-4 .u-container-layout-7 {
    padding: 13px 10px;
  }

  .u-section-4 .u-video-7 {
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-video-9 {
    height: auto;
    margin: initial;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-video-1 {
    width: 258px;
    height: 366px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 444px;
  }

  .u-section-4 .u-video-2 {
    width: 268px;
    height: 421px;
    margin-right: 22px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 368px;
  }

  .u-section-4 .u-video-3 {
    width: 258px;
    height: 366px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 370px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-video-4 {
    width: 258px;
    height: 348px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 424px;
  }

  .u-section-4 .u-video-5 {
    width: 258px;
    height: 366px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 473px;
  }

  .u-section-4 .u-video-6 {
    width: 266px;
    height: 377px;
    margin-top: 3px;
    margin-right: 23px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 476px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-4 .u-video-7 {
    width: 250px;
    height: 391px;
    margin-top: 38px;
    margin-right: 31px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 482px;
  }

  .u-section-4 .u-video-8 {
    height: 408px;
    width: 266px;
    margin-left: 23px;
  }

  .u-section-4 .u-video-9 {
    width: 260px;
    height: 393px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 15px auto 0;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 441px;
  }

  .u-section-4 .u-video-10 {
    width: 266px;
    height: 419px;
    margin-left: 23px;
  }

  .u-section-4 .u-layout-cell-11 {
    min-height: 496px;
  }

  .u-section-4 .u-video-11 {
    width: 276px;
    height: 404px;
    margin-top: 27px;
    margin-left: 15px;
  }
}